body {
  background-color: #E6E6E6;
}

.first-header {
  text-align: center;
  margin-top: 20%;
  font-size: 50px;
}

.second-header {
  text-align: center;
  margin-top: 2%;
  font-size: 50px;
}

p {
  text-align: center;
}

.container-search {
  padding: 3%;
  text-align: center;
  width: 300px;
  height: 50px;
  text-align: left;
  padding-left: 2%;
  padding-right: 2%;
  font-size: 18px;
}

.user-answer {
  font-family: sans-serif;
  font-size: 22px;
  color: black;
  font-weight: bold;
  text-align: center;
  padding-top: 4%;
}

.answer {
  text-decoration: none;
  font-size: 20px;
  color: black;
  text-align: center;
  padding-top: 1%;
}

.container-answer {
  width: 300px;
}
