
.container.container-all
  %h1.first-header Try to guess my favorite 25 Beatles songs
  %h1.second-header Enter a song title:
  .container.container-search
    = form_for :song, url: {action: "search"} do |f|
      = f.text_field :title
      = f.submit "Enter"
