
<div class="container container-all">
  <h1 class="first-header">Try to guess my top 25 Beatles songs</h1>
  <h1 class="second-header">Enter a song title:</h1>
  <div class="container container-search">
    <%= form_for :song, url: {action: "search"} do |f| %>
      <%= f.text_field :title %>
      <%= f.submit "Enter" %>
    <% end %>
  </div>
  <div class="container container-all">
    <% if @song.nil? %>
      <p class="user-answer">
        Songs:
      </p>
    <% else %>
      <p class="user-answer">
        Songs:
        <p class="answer"><%= @song.title %></p>
      </p>
    <% end %>
  </div>
</div>
